name: Deploy GitHub Pages

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Setup Pages
        id: configure-pages
        uses: actions/configure-pages@v4
        continue-on-error: true
      
      - name: Upload artifact
        if: steps.configure-pages.outcome == 'success'
        uses: actions/upload-pages-artifact@v4
        with:
          path: './docs'
      
      - name: Deploy to GitHub Pages
        if: steps.configure-pages.outcome == 'success'
        id: deployment
        uses: actions/deploy-pages@v4
